@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

/* Universal properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="text"] {
  padding: 10px 20px;
  outline: none;
}
.input-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}
button {
  padding: 10px 20px;
  outline: none;
  cursor: pointer;

}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  
}
.img{
  margin: 20px 0;
}
@media screen and (max-width:532px) {
  .input-box{
    flex-direction: column;
  }
}
